
</div>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div> -->

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
    <p></p>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>
